@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Nunito+Sans:wght@400;600&family=Poppins:wght@400;500;600;700;800&family=Roboto+Slab&family=Rubik:wght@600&display=swap");
.maketforfigma {
  flex: 0 0 auto;
  background: #313a46;
  font-weight: bold;
  display: flex;
}

.maketforfigma img {
  border-radius: 10px;
  margin: 4px 0 0 4px;
}

.maketforfigma p {
  color: #98a6ad;
  text-decoration: none;
  letter-spacing: 0.01875rem;
  font-size: 0.775rem;
  padding: 0 10px;
  line-height: 0.7rem;
}

.maketforfigma p > a {
  color: #bbe4f0;
  font-weight: bold;
}

.maketforfigma p > a:hover {
  color: #ffffff;
}

.main {
  flex: 1 0 auto;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 1196px;
  margin: 0 auto;
}

.header-top {
  padding-top: 45px;
}

.header {
  position: relative;
  background: #F5F5F5;
  padding-bottom: 119px;
}
.header .house-img {
  position: absolute;
  top: 178px;
  right: 0;
  z-index: 1;
}

.background {
  position: relative;
  z-index: 2;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1196px;
  margin-bottom: 120px;
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8E8E8E;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.a-mulih {
  letter-spacing: 0.0025em;
  margin: 8px;
  text-decoration: none;
  color: #4BA586;
}

.nav-ul {
  display: flex;
}

.nav-ul-li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin-left: 48px;
}
.nav-ul-li a {
  text-decoration: none;
  color: #8E8E8E;
  transition: 0.2s;
}
.nav-ul-li :hover {
  color: #69B99D;
}

.nav-ul-li-first {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.nav-ul-li-first a {
  text-decoration: none;
  color: #69B99D;
}

.nav-ul-li-first::after {
  content: "";
  background-color: #69B99D;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 8px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-buttons > li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0025em;
}

.sign-in {
  padding: 18px 48px;
  background: #F5F5F5;
  color: #69B99D;
  text-decoration: none;
  display: inline-block;
  margin-right: 8px;
}

.login {
  padding: 18px 48px;
  background: #69B99D;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.btn-real-estate {
  padding: 18px 48px;
  background: white;
  color: #69B99D;
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.h1 {
  font-family: "Rubik", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 74px;
  color: #1F2744;
  letter-spacing: 0.0025em;
}

.header-h1-width {
  width: 600px;
}

.p-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #73788C;
  margin-top: -10px;
}

.header-p-width {
  width: 500px;
}

.buy-and-rent {
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.0025em;
}

.btn-buy {
  padding: 12px 32px;
  background: white;
  color: #69B99D;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.btn-rent {
  padding: 12px 32px;
  background: #F5F5F5;
  color: #A6A6A6;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.buy-menu {
  width: 750px;
  background: white;
}

.buy-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 686px;
  margin: 0 auto;
  padding: 10px 0 8px 0;
}

.buy-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #1F2744;
  margin-bottom: -10px;
}

.buy-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #A6A6A6;
}
.buy-subtitle::after {
  content: "";
  display: inline-block;
  border: solid #1F2744;
  border-width: 0 2px 2px 0;
  width: 8.5px;
  height: 8.5px;
  transform: rotate(45deg);
  margin-left: 12px;
  margin-bottom: 4px;
}

.buy-location {
  width: 200px;
}

.buy-type {
  width: 85px;
}

.buy-price-range {
  width: 130px;
}

.btn-search {
  padding: 18px 48px;
  background: #69B99D;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.btn-discover {
  padding: 12px 24px;
  background: #F8F9FE;
  color: #69B99D;
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin-top: 120px;
}

.h2 {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  color: #054457;
  letter-spacing: 0.5px;
}

.rec-subtitle-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rec-subtitle-learn-more {
  display: flex;
  gap: 10px;
}

.btn-learn-more-white {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #69B99D;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 28px;
}

.rec-h2 {
  width: 490px;
  margin-top: 16px;
}

.rec-p {
  margin-top: -15px;
  width: 490px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: #FEFEFF;
  border: 1px solid #DEDCDA;
  width: 376px;
}
.card img {
  padding: 16px;
}
.card h4 {
  color: #1F2744;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.0025em;
  margin-top: 0;
  margin-bottom: 0;
}
.card .card-subtitle {
  color: #A6A6A6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
}

.card-area {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.card-text {
  padding: 0 16px 16px 16px;
}

.cost-and-size {
  display: flex;
  align-items: center;
}

.card-area {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2744;
}
.card-area sup {
  font-size: 8px;
  font-weight: bold;
}

.card-cost {
  margin-top: 16px;
  color: #69B99D;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.card-area-text {
  margin-left: 38px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A6A6A6;
  margin-top: 5px;
  letter-spacing: 0.0025em;
  background-color: #F5F5F5;
  padding: 4px 8px;
}

.card-btn-send {
  padding: 12px 120px 12px 120px;
  background: #FEFEFF;
  color: #69B99D;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #69B99D;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.card2-send {
  background: #69B99D;
  color: #FEFEFF;
}

.peace-of-mind {
  padding-top: 120px;
  margin-top: 120px;
  padding-bottom: 68px;
  background-color: #F5F5F5;
}
.peace-of-mind h2 {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
  margin-top: 16px;
  width: 435px;
}

.grid-container {
  padding: 20px;
}

.peace-advante {
  padding: 12px 24px;
  background: #F8F9FE;
  color: #69B99D;
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.peace-cards {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  gap: 32px;
}
.peace-cards h3 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #054457;
}
.peace-cards p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #73788C;
}

.peace-card1 {
  width: 336px;
  grid-column: 1;
}

.peace-card2 {
  width: 336px;
  grid-column: 2;
}

.peace-card3 {
  width: 336px;
  grid-column: 3;
}

.how-much {
  margin-top: 120px;
  display: flex;
}

.rating-block {
  position: relative;
  width: 175px;
  height: 236px;
  background-color: #FEFEFF;
  margin-left: 96px;
}
.rating-block .div-tick-square {
  display: flex;
  justify-content: center;
}
.rating-block .tick-square {
  position: absolute;
  margin-top: -13.5px;
}
.rating-block .p-rating {
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.0025em;
  color: #054457;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 0;
}
.rating-block .p-trusted, .rating-block .p-reviews {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.rating-block .p-trusted {
  margin-top: 16px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.rating-block .p-reviews {
  color: #054457;
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.stars {
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.how-much-img {
  position: absolute;
  z-index: -1;
  margin-top: -156px;
}

.count-block {
  position: absolute;
  margin-top: 237px;
  margin-left: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0 32px;
  width: 451px;
  height: 82px;
  gap: 32px;
}
.count-block .count-number {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: #054457;
  letter-spacing: 0.0025em;
  margin: 0;
}
.count-block .count-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #A6A6A6;
  letter-spacing: 0.0025em;
  margin: 0;
  margin-left: 8px;
}

.count-block1, .count-block2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-much-section-second {
  margin-left: 394px;
  margin-top: 116px;
}
.how-much-section-second .btn-about-us {
  padding: 12px 24px;
  background: #F8F9FE;
  color: #69B99D;
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin: 0;
}
.how-much-section-second .btn-learn-more {
  padding: 18px 48px;
  background: #69B99D;
  color: #FEFEFF;
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0025em;
  margin: 0;
  margin-top: 48px;
}
.how-much-section-second p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #73788C;
  margin: 0;
  margin-top: 16px;
}

.typical-h2 {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
  margin: 0;
  margin-top: 16px;
}

.people-say {
  margin-top: 132px;
}
.people-say > a {
  padding: 12px 24px;
  background: #F8F9FE;
  color: #69B99D;
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.people-say .h2-and-learn-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.people-say .btn-people-learn-more {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
}

.people-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}
.people-cards .people-card {
  width: 328px;
  height: 302px;
  background-color: #FEFEFF;
  border: 1px solid #DEDCDA;
  padding: 24px;
}
.people-cards .card-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #1F2744;
  margin: 0;
  margin-top: 24px;
}
.people-cards .card-subtitle-people {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.people-cards .people {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 24px;
}
.people-cards .people-name {
  margin-left: 15px;
}
.people-cards .card-name {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #0B2E29;
  margin: 0;
}
.people-cards .card-job {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #767676;
  margin: 0;
  margin-top: 4px;
}

.footer {
  margin-top: 120px;
  background-color: #F5F5F5;
}

.footer-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.padding-top-container {
  padding-top: 75px;
  padding-bottom: 100px;
}

.footer-list-1 p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #1F2744;
  margin: 0;
  margin-top: 18px;
  width: 344px;
}
.footer-list-1 .newsletter p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #0B2E29;
  margin: 0;
  margin-top: 24px;
}

.input-email-block {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.input-email-block a {
  padding: 8px 24px;
  background: #69B99D;
  color: #FEFEFF;
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.input-email {
  padding: 8px 0 8px 16px;
  width: 247px;
  height: 26px;
  border: none;
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #0B2E29;
}
.input-email::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #D7D7D7;
}

.footer-list {
  margin-top: 0;
}
.footer-list li {
  list-style-type: none;
  margin-bottom: 16px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.footer-list li a {
  text-decoration: none;
  color: #575757;
}

.footer-span {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #0B2E29;
}

.footer-list-4 a {
  text-decoration: none;
}
.footer-list-4 > p {
  padding: 0;
  margin: 0;
}

.social {
  margin: 0;
  margin-top: 16px;
}
.social img:not(:first-child) {
  margin-left: 16px;
}