// Width
$siteWidth: 1440px;
$containerWidth: 1196px;

// Text Color
$primaryColor: #69B99D;
$titleColor: #1F2744;
$subtitleColor: #A6A6A6;
$h2Color: #054457;
$navColor: #8E8E8E;
$pTextColor: #73788C;
$footerColor: #0B2E29;
$listColor: #575757;

// Background Color
$bgColorOne: #F5F5F5;
$bgColorTwo: #FEFEFF;